{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block title %}{{ _('Email ändern') }}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block messages %}{% endblock %}

{% block app_content %}
    <div class="wrapper">
        <form class="form-reset auth-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% include 'messages.html' %}
        <h2 class="form-signin-heading">{{ _('Ändere deine Email Adresse') }}</h2>
        <div>{{ render_field(form.password) }}</div>
        <br>
        <div class="input-group mb-2">
          {{ render_field(form.new_email) }}
        </div>
        <small style="padding-bottom: 10px;" id="passwordHelpBlock" class="form-text text-muted">
          {{ _('Aktuelle Email Adresse') }}: {{ current_user.email }}
        </small>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Email senden') }}</button>
    </form>
{% endblock %}

{% block custom_script %}
  <script>
    $("#changeemail").addClass('active');
  </script>
{% endblock %}
