{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block title %}{{ _('Passwort ändern') }}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block messages %}{% endblock %}

{% block app_content %}
    <div class="wrapper">
        <form class="form-reset auth-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% include 'messages.html' %}
        <h2 class="form-signin-heading">{{ _('Ändere dein Passwort') }}</h2>
        <div>{{ render_field(form.old_password) }}</div>
        <br>
        <div>
        <div class="input-group mb-2" style="margin-bottom: 0px!important;">
          {{ render_field(form.password, class="form-control straight-bottom", args={'size': 64}) }}<div class="input-group-append">
            <button class="btn btn-outline-secondary showpwd-button" id="showpassword" style="border-bottom-right-radius: 0;" type="button"><i id="eye" style="width: 1.2rem;" class="fas fa-eye-slash"></i></button>
          </div>
        </div>
          {{ render_field(form.password2, class="form-control straight-top", args={'size': 64}) }}
          {% include 'auth/password_text.html' %}
          </div>
        <div class="progress"><div class="progress-bar" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" disabled>{{ _('Passwort zurücksetzen') }}</button>
    </form>
{% endblock %}

{% block custom_script %}
  {% include 'auth/password_strength.html' %}
  <script>
    $("#changepassword").addClass('active');
  </script>
{% endblock %}
