{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-sm-6">
      <h1>{{ _('Profil bearbeiten') }}</h1>
      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
              {{ form.username.label }}<br>
              {{ form.username(size=32, class_='form-control') }}<br>
              {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.email.label }}<br>
              {{ form.email(class_='form-control', size=64, readonly=true) }}<br>
              {% for error in form.email.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.lang.label }}<br>
              {{ form.lang(class_='form-control') }}<br>
              {% for error in form.lang.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>{{ form.submit(class_='btn btn-secondary') }}</p>
        </form>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-2"><img style="padding-top:25px;" src="{{ avatar }}"/></div>
    </div>
{% endblock %}

{% block custom_script %}
  <script>
    $("#editself").addClass('active');
  </script>
{% endblock %}
