{% extends "base.html" %}

{% block title %}{{ _('Profil bearbeiten') }}{% endblock %}

{% block app_content %}
  <div class="row">
    <div class="col-sm-8">
      <h1>{{ _('Profil bearbeiten') }}</h1>
      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}

          <div class="form-group row">
            {{ form.username.label(class_="col-sm-3 col-form-label") }}
            <div class="col-sm-9">
              {{ form.username(size=32, class_='form-control', placeholder=form.username.label.text) }}
              {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
          </div>
          <div class="form-group row">
            {{ form.email.label(class_="col-sm-3 col-form-label") }}
            <div class="col-sm-9 input-group">
              {{ form.email(size=64, class_='form-control', readonly=true, placeholder=form.username.label.text) }}
              <div class="input-group-append">
                <button class="btn btn-outline-secondary showpwd-button" title="{{ _('Email ändern') }}" onclick="window.location.href = '{{ url_for('auth.change_email_request') }}'" style="border-bottom-right-radius: 0;" type="button"><i id="eye" style="width: 1.2rem;" class="fas fa-edit"></i></button>
              </div>
              {% for error in form.email.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
          </div>
          <div class="form-group row">
            {{ form.paypal.label(class_="col-sm-3 col-form-label") }}
            <div class="col-sm-9">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">https://paypal.me/</span>
                </div>
                  {{ form.paypal(class_='form-control', size=50, placeholder='johndoe') }}
              </div>
              {% for error in form.paypal.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
          </div>
          <div class="form-group row">
            {{ form.lang.label(class_="col-sm-3 col-form-label") }}
            <div class="col-sm-9">
              {{ form.lang(class_='form-control') }}
              {% for error in form.lang.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              {{ form.submit(class_="btn btn-primary") }}
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2"><img style="padding-top:25px;" src="{{ avatar }}"/></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ _('API Token') }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <textarea id="jwtfield" style="width: 100%; height:100%;"></textarea>
      </div>
      <div class="col-2">
        <input type="submit" style="width: 100%;margin-bottom: -1px;border-bottom-left-radius: 0;border-bottom-right-radius: 0;" class="btn btn-primary" onclick="generateJWT()" value="{{ _('Generieren') }}"></input>
        <input type="submit" id="copybutton" class="btn btn-primary" style="width: 100%;margin-top: -1px;border-top-left-radius: 0;border-top-right-radius: 0;" onclick="copyToken()" value="{{ _('Kopieren') }}"></input>
      </div>
    </div>
{% endblock %}

{% block custom_script %}
  <script>
    $("#editself").addClass('active');
    function generateJWT() {
      $.ajax('{{ url_for('ajax.issue_token') }}').done(
              function(data) {
                  $('#jwtfield').html(data['token']);
              }
          );
    }
    function copyToken() {
      document.getElementById('jwtfield').select();
      document.execCommand("copy");
      $('#copybutton').tooltip({
        trigger: 'manual',
        title: '{{ _('Kopiert') }}',
        placement: 'bottom'
      }).tooltip('show')
      setTimeout(function(){ $('#copybutton').tooltip('hide'); }, 2000);
    }
  </script>
{% endblock %}
