{% extends "base.html" %}

{% block app_content %}
    <h1>{{ _('Einloggen') }}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>
        {{ _('Passwort vergessen?') }}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Hier klicken zum zurücksetzen') }}</a>
    </p>
    <p>{{ _('Neu hier?') }} <a href="{{ url_for('auth.register') }}">{{ _('Hier klicken zum registrieren!') }}</a></p>
{% endblock %}

{% block custom_script %}
  <script>
    $("#login").addClass('active');
  </script>
{% endblock %}
