{% include 'auth/password_js.html' %}
<script>
  $("#password").keyup(function(event) {
    ctr = validatePassword(event.target.value);

    if (password.length < 5) {ctr = 0;}
    var color = "";
    var strength = "";
    switch (ctr) {
        case -1:
            strength = "";
            color = "bg-danger";
            percent = 0;
            break;
        case 0:
            strength = "";
            color = "bg-danger";
            percent = 10;
            break;
        case 1:
            strength = "";
            color = "bg-danger";
            percent = ctr*25;
            break;
        case 2:
            strength = "{{ _('Puh') }}";
            color = "bg-danger";
            percent = ctr*25;
            break;
        case 3:
            strength = "{{ _('Fast geschafft') }}";
            color = "bg-warning";
            percent = ctr*25;
            break;
        case 4:
            strength = "{{ _('Ausreichend') }}";
            color = "bg-success";
            percent = ctr*25;
            break;
    }
    $("button[type='submit']").prop('disabled', ctr!=4);
    document.getElementById("progressbar").style.width = (percent + "%");
    document.getElementById("progressbar").className = "progress-bar " + color;
    document.getElementById("progressbar").innerHTML = strength;
  });
</script>
