{% include 'auth/password_js.html' %}
<script>
  $("#password").keyup(function(event) {
    ctr = validatePassword(event.target.value);

    if (password.length < 5) {ctr = 0;}
    var color = "";
    var strength = "";
    switch (ctr) {
        case -1:
            streangth = "";
            break;
        case 0:
        case 1:
        case 2:
            strength = "{{ _('Schwach') }}";
            color = "red";
            break;
        case 3:
            strength = "{{ _('Mittel') }}";
            color = "orange";
            break;
        case 4:
            strength = "{{ _('Stark') }}";
            color = "green";
            break;
    }
    document.getElementById("msg").innerHTML = strength;
    document.getElementById("msg").style.color = color;
  });
</script>
