{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block title %}{{ _('Registrieren') }}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block app_content %}
<div class="wrapper">
  <form class="form-register auth-form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      {% include 'messages.html' %}
    <h2 class="form-signin-heading"><a href="{{ url_for('auth.login') }}" style="color: inherit;"><i class="fas fa-arrow-left"></i></a> {{ _('Registrieren') }}</h2>
    {% if form.username.errors %}{% set x={"title": form.username.errors[0], "data-toggle":"tooltip", "data-placement":"left"}%}{% endif %}
    {{ form.username.label }}
    {{ render_field(form.username, class="form-control padding-15") }}
    {{ form.email.label }}
    {{ render_field(form.email, args={'size':64},class="form-control padding-15") }}
    {{ form.password.label }}
    <div class="form-row" style="margin-bottom:0px;">
      <div class="col-6">
        <div class="input-group mb-2">
          {{ render_field(form.password) }}
          <div class="input-group-append">
            <button class="btn btn-outline-secondary showpwd-button" id="showpassword" type="button"><i id="eye" style="width: 1.2rem;" class="fas fa-eye-slash"></i></button>
          </div>
        </div>
      </div>
      <div class="col-6">
        {{ render_field(form.password2) }}
      </div>
    </div>
    {% include 'auth/password_text.html' %}
    <div class="progress"><div class="progress-bar" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" disabled>{{ _('Registrieren') }}</button>
  </form>
</div>
{% endblock %}

{% block custom_script %}
<script>
</script>
  {% include 'auth/password_strength.html' %}
{% endblock %}
