{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block title %}{{ _('Passwort zurücksetzen') }}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block app_content %}
    <div class="wrapper">
        <form class="form-reset auth-form" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% include 'messages.html' %}
          <h2 class="form-signin-heading"><a href="{{ url_for('auth.login') }}" style="color: inherit;"><i class="fas fa-arrow-left"></i></a> {{ _('Passwort zurücksetzen') }}</h2>
          {{ render_field(form.email) }}<br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Email senden') }}</button>
        </form>
    </div>
{% endblock %}
