{% extends "base.html" %}

{% block title %}{{ _('Passwort zurücksetzen') }}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block app_content %}
    <div class="wrapper">
        <form class="form-reset auth-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% include 'messages.html' %}
        <h2 class="form-signin-heading">{{ _('Ändere dein Passwort') }}</h2>

        <div class="input-group mb-2" style="margin-bottom: 0px!important;">
        {% if form.password.errors %}{% set x={"title": form.password.errors[0], "data-toggle":"tooltip", "data-placement":"left"}%}{% endif %}
        {{ form.password(size=64, class_="form-control straight-bottom", placeholder=form.password.label.text, **x or {}) }}<div class="input-group-append">
          <button class="btn btn-outline-secondary showpwd-button" id="showpassword" style="border-bottom-right-radius: 0;" type="button"><i id="eye" style="width: 1.2rem;" class="fas fa-eye-slash"></i></button>
        </div>
      </div>
        {% set x={}%}
          {% if form.password2.errors %}{% set x={"title": form.password2.errors[0], "data-toggle":"tooltip", "data-placement":"left"}%}{% endif %}
          {{ form.password2(size=64, class_="form-control straight-top", placeholder=form.password2.label.text, **x or {}) }}
          {% include 'auth/password_text.html' %}
        <div class="progress"><div class="progress-bar" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" disabled>{{ _('Passwort zurücksetzen') }}</button>
    </form>
{% endblock %}

{% block custom_script %}
  {% include 'auth/password_strength.html' %}
  <script>
    $("#changepassword").addClass('active');
    $(function () {
      $('[data-toggle="tooltip"]').tooltip({'trigger': 'manual'})
      $('[data-toggle="tooltip"]').tooltip('show')
    })
  </script>
{% endblock %}
