{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block app_content %}
    <div class="wrapper">
        <form class="form-reset auth-form" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% include 'messages.html' %}
          <h2 class="form-signin-heading"><a href="{{ url_for('auth.login') }}" style="color: inherit;"><i class="fas fa-arrow-left"></i></a> {{ _('Passwort zurücksetzen') }}</h2>
          {% if form.email.errors %}{% set x={"title": form.email.errors[0], "data-toggle":"tooltip", "data-placement":"left"}%}{% endif %}
          {{ form.email(size=64,class_="form-control",placeholder=form.email.label.text, **x or {}) }}
          {% set x={}%}
          {% if form.email.errors %}{% set x={"title": form.email.errors[0], "data-toggle":"tooltip", "data-placement":"left"}%}{% endif %}<br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Email senden') }}</button>
        </form>
    </div>
{% endblock %}

{% block custom_script %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip({'trigger': 'manual'})
      $('[data-toggle="tooltip"]').tooltip('show')
    })
  </script>
{% endblock %}
