{% extends "base.html" %}
{% from "macros.html" import pagination %}
{% block title %}{{ _('Dashboard') }}{% endblock %}

{% block app_content %}
  <div class="row" style="padding-bottom: 10px;">
    <div class="col-5"><h1 style="float:left;line-height:2.25rem;">{{ _('Dashboard') }}</h1>{% if current_user.has_role('admin') %}<button id="billingstart" class="btn btn-primary" style="margin-left: 25px;float:left;" type="button">{{ _('Starte Abrechnung') }}</button>{% endif %}</div>

    <div class="col-3 btn-group btn-group-sm">
      {% if current_user.has_role('admin') %}
        <button title="Zeige nur Transaktionen bei denen du Lieferant bist" type="button" onclick="window.location.href='{{ url_for('main.admindashboard') }}'" class="btn btn-primary{% if request.args.get('all') == None %} active{% endif %}">{{ _('Meine') }}</button>
        <button title="Zeige alle Transaktionen" type="button" onclick="window.location.href='{{ url_for('main.admindashboard', all=1) }}'" class="btn btn-primary{% if request.args.get('all') != None %} active{% endif %}">{{ _('Alle') }}</button>
      {% endif %}
    </div>
    <div class="col-4 text-right"><h1 style="line-height: 2.25rem;">{{ _('Offen:') + ' ' + open }}</h1></div>
  </div>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ _('Benutzername') }}</th>
        <th scope="col">{{ _('Produkt') }}</th>
        <th scope="col">{{ _('Anzahl') }}</th>
        <th scope="col">{{ _('Preis') }}</th>
        <th scope="col">{{ _('Lieferant') }}</th>
        <th scope="col">{{ _('Datum') }}</th>
      </tr>
    </thead>
    <tbody>
    {% if consumptions is defined and consumptions.items|length > 0 %}
      {% for con in consumptions.items %}
        <tr>
          <th scope="row">{{ loop.index + ((consumptions.page-1)*consumptions.per_page) }}</th>
          <td>{{ con.user.username }}</td>
          <td>{{ con.product.description }}</td>
          <td>{{ con.amount }}</td>
          <td>{{ con.getsum }}</td>
          <td>{{ con.supplier.username }}</td>
          <td>{{ moment(con.time).fromNow() }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan="7">{{ _('Keine Einträge vorhanden') }}</td></tr>
    {% endif %}
    </tbody>
  </table>

  {{ pagination('main.admindashboard', consumptions) }}
{% endblock %}

{% block custom_script %}
  <script>
    $("#admindashboard").addClass('active');

    function updateButton(id, button) {
      $.getJSON("{{ url_for('ajax.get_task_status', id='ID') }}".replace('ID', id), function(data) {
        console.log(data['state'])
        if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
          button.addClass('btn-success');
          button.html('<i class="fa fa-check"></i> {{ _('Erfolgreich durchgeführt') }}');
        } else {
          setTimeout(function() {
                    updateButton(id, button);
                }, 2000);
        }
      }
    );
  }

    $('#billingstart').on('click', function() {
      var $this = $(this);
      var taskid;
      var loadingText = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{ _('das ähh läuft...') }}';
      if ($this.html() !== loadingText) {
        $this.data('original-text', $(this).html());
        $this.html(loadingText);
        $this.removeClass('btn-success');
      }
      $.ajax("{{ url_for('ajax.billing') }}" )
      .done(function(data) {
        taskid = data['id'];
        updateButton(taskid, $this);
      })
      .fail(function() {
        console.log("{{ _('Fehler') }}")
      });
    });
  </script>
{% endblock %}
