{% extends "base.html" %}

{% block app_content %}
    <h1>Bearbeiten</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.active() }} {{ form.active.label }}</p>
        <p>{{ form.admin() }} {{ form.admin.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
