{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-8"><h1>{{ _('Getränkeverwaltung') }}</h1></div>
    <div class="col-4">
      <form class="form-inline my-2 my-lg-0" action="{{ url_for('main.managedrinks') }}">
        <input class="form-control mr-sm-2" type="search" placeholder="{{ _('Suchen') }}" aria-label="search" name="search" value="{{ searchterm or '' }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ _('Suchen') }}</button>
      </form>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ _('Beschreibung') }}</th>
        <th scope="col">{{ _('Preis') }}</th>
        <th scope="col">{{  _('Bestand') }}</th>
        <th scope="col">{{ _('Status') }}</th>
        <th data-formatter="TableActions">{{ _('Aktionen') }}</th>
      </tr>
    </thead>
    <tbody>
  {% for drink in drinks.items %}

    <tr>
      <th scope="row">{{ loop.index + ((drinks.page-1)*drinks.per_page) }}</th>
      <td>{{ drink.description }}</td>
      <td>{{ drink.getprice() }}</td>
      <td id="stock-{{ drink.id }}">{{ drink.stock if drink.stock_active else '-' }}</td>
      <td>{{ _('Aktiv') if drink.active else _('Inaktiv') }}</td>
      <td>
        <a class="edit" href="{{ url_for('main.editdrink', id=drink.id) }}" title="{{ _('Bearbeiten') }}"><i class="fas fa-edit"></i></a>
        <a class="book" href="javascript:showModal({{ drink.id }})" title="{{ _('Buchung tätigen') }}"><i class="fas fa-cart-plus"></i></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ _('SooS') }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="text">20</div>
        <form name="stock">
          <input type="hidden" id="drink_id" name="drink_id"/>
          <input id="stock_amount" name="stock" type="range" min="1" max="100" value="20" class="slider">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="book_stock">{{ _('Buchen') }}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Abbrechen') }}</button>
      </div>

    </div>
  </div>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {%- for page in drinks.iter_pages() %}
        {% if page %}
          {% if page != drinks.page %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main.managedrinks', page=page) }}">{{ page }}</a></li>
          {% else %}
          <li class="page-item active">
            <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
        {% else %}
          <li class="page-item"><a class="page-link" href="#">...</a></li>
        {% endif %}
      {%- endfor %}
    </ul>
  </nav>
{% endblock %}

{% block custom_script %}
  <script>
    $("#managedrinks").addClass('active');

    $("#stock_amount").mousemove(function () {
      $("#text").text($("#stock_amount").val())
    });

    function getFormData(form) {
      var unindexed_array = form.serializeArray();
      var indexed_array = {};

      $.map(unindexed_array, function(n, i){
          indexed_array[n['name']] = n['value'];
      });

      return indexed_array;
    }

    $("#book_stock").on("click", function(e){
      $.ajax({
                url: '{{ url_for('main.add_stock') }}',
                type : 'POST',
                contentType : 'application/json',
                data : JSON.stringify(getFormData($('form[name="stock"]'))),
                success : function(result) {
                    $('#myModal').modal('toggle');
                    $('#stock-'+result['id']).text(result['stock']);
                },
                error: function(xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            });
    });

    function showModal(id) {
      var modal = $('#myModal');
      $('#drink_id').val(id);
      modal.find('.modal-header h4').html('gut guut guuut');
      modal.modal('toggle');
    }
  </script>
{% endblock %}
