<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mate.css', v=config['INFORMATION']['version'])}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block links %}{% endblock %}
    <title>{% block title %}🍾{% endblock %} - {{ config['INFORMATION']['name'] }}{% if config['BETA'] %} - BETA{% endif %}</title>
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('main.index') if current_user.is_authenticated else url_for('auth.login') }}">{{ config['INFORMATION']['name'] }}{% if config['BETA'] %} <span style="color:red;">BETA</span>{% endif %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if current_user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="start" class="nav-link" href="{{ url_for('main.index') }}"><i class="{{ config['ICON'] }}"></i> {{ _('Start') }}</a>
            </li>
            <li class="nav-item">
              <a id="overview" class="nav-link" href="{{ url_for('main.overview') }}">{{ _('Übersicht') }}</a>
            </li>
            <li class="nav-item">
              <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">{{ current_user.unpaid_bills }}</span>
              <a id="invoice" class="nav-link" href="{{ url_for('main.invoice') }}">{{ _('Rechnungen') }}</a>
            </li>
            {% if current_user.has_role('admin') or current_user.has_role('supplier') %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ _('Verwaltung') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" id="manageinvoices" href="{{ url_for('main.manageinvoices') }}"><i class="fas fa-glasses"></i> {{ _('Rechnungen') }}</a>
                  <a class="dropdown-item" id="admindashboard" href="{{ url_for('main.admindashboard') }}"><i class="fas fa-chart-line"></i> {{ _('Dashboard') }}</a>
                  <a class="dropdown-item" id="offer" href="{{ url_for('main.offers') }}"><i class="fas fa-people-carry"></i> {{ _('Angebote') }}</a>
                  {% if current_user.has_role('admin') %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" id="manageusers" href="{{ url_for('main.manageusers') }}"><i class="fas fa-users"></i> {{ _('Benutzer') }}</a>
                      <a class="dropdown-item" id="manageproducts" href="{{ url_for('main.manageproducts') }}"><i class="fas fa-glass-cheers"></i> {{ _('Produkte') }}</a>
                  {% endif %}
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        <div class="collapse navbar-collapse justify-content-end">
            <div class="custom-control custom-switch" style="margin-right: 6px;">
                <input type="checkbox" class="custom-control-input" id="darkSwitch" />
                <label class="custom-control-label" for="darkSwitch">🌓</label>
            </div>
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="padding:0 6px 0 0;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ current_user.avatar(25) }}"> {{ current_user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" id="about" href="{{ url_for('main.about') }}"><i class="fas fa-cat"></i>  {{ _('Über') }}</a>
                        <a class="dropdown-item" id="changepassword" href="{{ url_for('auth.change_password') }}"><i class="fas fa-lock"></i> {{ _('Passwort ändern') }}</a>
                        <a class="dropdown-item" id="changeemail" href="{{ url_for('auth.change_email_request') }}"><i class="fas fa-envelope-open-text"></i> {{ _('Email ändern') }}</a>
                        <a class="dropdown-item" id="editself" href="{{ url_for('auth.editself') }}"><i class="fas fa-user-cog"></i> {{ _('Eigene Daten') }}</a>
                        <a class="dropdown-item" id="manageusers" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> {{ _('Abmelden') }}</a>
                    </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Anmelden') }}</a>
                    </li>
                </ul>
            {% endif %}
            </div>

        </nav>
    {% block content %}
        <div class="container">
            {% block messages %}
                {% include 'messages.html' %}

                {# application content needs to be provided in the app_content block #}
              {% endblock %}
            {% block app_content %}{% endblock %}
        </div>
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% assets "js_mate" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
    {{ moment.include_moment(no_js=True) }}
    {{ moment.locale(g.locale) }}
    {% block custom_script %}{% endblock %}
  </body>
</html>
