{% extends "base.html" %}

{% block app_content %}
  <h3>{{ ngettext('Genieße unser leckeres Produkt', 'Genieße eines unserer %(num)s leckeren Produkte', products|length) }}</h3>
  <div class="card-deck">

  {% for product in products %}
  <div class="card mb-3" style="max-width: 350px;" data-drinkid="{{ product.id }}" {% if product.stock > 0 or product.stock_active == False %} onClick="consume(this)" {% endif %}>
    <div class="row no-gutters">
      <div class="col-md-4">
        {% if not product.imageUrl%}<i class="fas fa-wine-bottle fa-7x" style="display:inline-block;"></i>{% else %}<img src="{{ url_for('static', filename='images/' + (product.imageUrl or 'default.png')) }}" class="card-img" alt="...">{% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body" style="padding: 1rem;">
          <h5 class="card-title">{{ product.description }}</h5>
          <p class="card-text">
            <i class="fas fa-money-bill-wave"></i> {{ product.getprice() }}<br>
            {% if product.stock_active %}<i class="fas fa-boxes"></i> <span id="stock-{{ product.id }}">{{ product.stock }}</span>{% endif %}
          </p>
        </div>
      </div>
    </div>
    {% if product.highlight and not (product.stock < 1 and product.stock_active == True) %}<div class="card-badge">{{ _('Jetzt probieren!') }}</div>{% endif %}
    {% if product.stock < 1 and product.stock_active == True %}<div class="card-badge">{{ _('Ausverkauft!') }}</div>{% endif %}
  </div>
{% endfor %}
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ _('SooS') }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('OK') }}</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block custom_script %}
  <script>
    $("#start").addClass('active');
  </script>
  <script>
    function consume(sender) {
      var id = $(sender).data('drinkid')
      $.post("{{ url_for('main.consume', id='id') }}".replace('id', id) )
      .done(function(data) {
        var modal = $('#myModal');
        modal.find('.modal-body').text('{{ _('Viel spaß mit deinem Produkt!') }}');
        modal.find('.modal-header h4').html('🍻🎉');
        modal.modal('toggle');
        $('#stock-'+id).text(data['stock']);
        if(data['stock'] === 0 && data['active']) {
          location.reload();
        }
      })
      .fail(function() {
        var modal = $('#myModal');
        modal.find('.modal-body').text('{{ _('Awups, da ist etwas schief gelaufen!') }}');
        modal.find('.modal-header h4').html('😩😩');
        modal.modal('toggle');
      });
    }
    $( ".card" ).hover(
      function() {
        $(this).addClass('shadow').css('cursor', 'pointer');
      }, function() {
        $(this).removeClass('shadow');
      }
    );
  </script>
{% endblock %}
