{% extends "base.html" %}

{% block app_content %}
  <h3>{{ ngettext('Genieße unser leckeres Getränk', 'Genieße eines unserer %(num)s leckeren Getränke', drinks|length) }}</h3>
  <div class="card-deck">

  {% for drink in drinks %}
  <div class="card mb-3" style="max-width: 350px;" onClick="consume(this, {{ drink.id }})">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename=drink.imageUrl) }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ drink.description }}</h5>
          <p class="card-text">
            {% if drink.stock_active %}<i class="fas fa-boxes"></i> <span class="badge badge-secondary" id="stock-{{ drink.id }}">{{ drink.stock }}</span>{% endif %}
            <i class="fas fa-money-bill-wave"></i> {{ drink.getprice() }}
          </p>
        </div>
      </div>
    </div>
    {% if drink.highlight %}<div class="card-badge">{{ _('Jetzt probieren!') }}</div>{% endif %}
  </div>
{% endfor %}
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ _('SooS') }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('OK') }}</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block custom_script %}
  <script>
    $("#start").addClass('active');
  </script>
  <script>
    function consume(sender, id) {
      console.log(sender);
      $.post("{{ url_for('main.consume', id='id') }}".replace('id', id) )
      .done(function(data) {
        var modal = $('#myModal');
        modal.find('.modal-body').text('{{ _('Viel spaß mit deinem Getränk!') }}');
        modal.find('.modal-header h4').html('🍻🎉');
        modal.modal('toggle');
        $('#stock-'+id).text(data['stock']);
      })
      .fail(function() {
        var modal = $('#myModal');
        modal.find('.modal-body').text('{{ _('Awups, da ist etwas schief gelaufen!') }}');
        modal.find('.modal-header h4').html('😩😩');
        modal.modal('toggle');
      });

    }
  </script>
{% endblock %}
