{% extends "base.html" %}
{% from "macros.html" import get_prod_image %}

{% block app_content %}
  <h3>{{ ngettext('Genieße unser leckeres Produkt', 'Genieße eines unserer %(num)s leckeren Produkte', products|length) }}</h3>
  <div class="card-deck">

  {% for product in products %}
  {% if (loop.index -1) % 3 == 0 and loop.index > 1 %}</div><div class="card-deck">{% endif %}
  <product-card productid="{{ product.id }}" description="{{ product.description }}" image="{{ get_prod_image(product) }}">
  </product-card>
{% endfor %}
</div>

<div class="modal fade" id="resultmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ _('SooS') }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('OK') }}</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block custom_script %}
  <script src="{{url_for('static', filename='js/product.js', v=config['INFORMATION']['version'])}}"></script>
  <script>
    function display_popover(elem, data) {
      elem.popover({
              trigger: 'manual',
              html: true,
              animation: false,
              placement: 'bottom',
              content: data
        }).popover('show');
    }
    $("#start").addClass('active');
    $(function() {
      $( ".card" ).hover(
        function(event) {
          $(this).addClass('shadow');
        },
        function() {
          $(this).removeClass('shadow');
        }
      );
    });
  </script>
{% endblock %}
