{% extends "invoice_base.html" %}
{% block title %}{{ _('Rechnung') }} #{{ invoice.id }}{% endblock %}

{% block link %}<a style="color: inherit;" href="{{ url_for('main.invoice_detail', id=invoice.id) }}" <i title="{{ _('Detailauswertung') }}" class="fas fa-list"></i></a>{% endblock %}

{% block invoice_table %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ _('Produkt') }}</th>
        <th scope="col">{{ _('Stück') }}</th>
        <th scope="col">{{ _('Preis') }}</th>
        <th scope="col">{{ _('Summe') }}</th>
      </tr>
    </thead>
    <tbody>
    {% if invoice.positions is defined and invoice.positions|length > 0 %}
      {% for position in invoice.positions %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ position.product.description }}</td>
          <td>{{ position.amount }}</td>
          <td>{{ position.getprice() }}</td>
          <td>{{ position.getsum() }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan="4">{{ _('Keine Einträge vorhanden') }}</td></tr>
    {% endif %}
    </tbody>
  </table>
{% endblock %}
