{% extends "base.html" %}
{% block title %}{{ _('Rechnungen') }}{% endblock %}
{% from "macros.html" import pagination %}

{% block app_content %}
  <h1 style="line-height:2.5rem;">{{ _('Rechnungen') }}</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 7%">#</th>
        <th scope="col" style="width: 15%">{{ _('Bezahlt') }}</th>
        <th scope="col" style="width: 15%">{{ _('Betrag') }}</th>
        <th scope="col" style="width: 20%">{{ _('Lieferant') }}</th>
        <th scope="col" style="width: 28%">{{ _('Datum') }}</th>
        <th scope="col" data-formatter="TableActions" class="col-md-1" style="width: 15%">{{ _('Aktionen') }}</th>
      </tr>
    </thead>
    <tbody>
    {% if invoices.items|length > 0 %}
      {% for invoice in invoices.items %}
        <tr>
          <th scope="row">{{ loop.index + ((invoices.page-1)*invoices.per_page) }}</th>
          <td>{{ _('Ja') if invoice.paid else _('Nein') }}</td>
          <td>{{ invoice.formatsum() }}</td>
          <td>{{ invoice.supplier.username }}</td>
          <td>{{ moment(invoice.date).format('Do MMMM YYYY, HH:mm') }}</td>
          <td>
            <a class="show" href="{{ url_for('main.show_invoice', id=invoice.id) }}" title="{{ _('Anzeigen') }}"><i class="fas fa-lg table-action fa-file-invoice-dollar"></i></a>
            {% if not invoice.paid and invoice.supplier.paypal %}<a class="show" target="_new" href="{{ invoice.get_paypal_link() }}" title="{{ _('Bezahlen') }}"><i class="fab fa-lg fa-paypal table-action" style="color:red;"></i></a>{% endif %}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan="6">{{ _('Keine Einträge vorhanden') }}</td></tr>
    {% endif %}
    </tbody>
  </table>
  {{ pagination('main.invoice', invoices) }}
{% endblock %}

{% block custom_script %}
  <script>
    $("#invoice").addClass('active');
  </script>
{% endblock %}
