<div><h5 class="popover-heading">{{ _('Alle Angebote') }}<button type="button" id="close" class="close" onclick="$(this.closest(&quot;.popover&quot;)).popover(&quot;hide&quot;);">&times;</button></h5></div>
<ul class="list-group">
{% for offer in offers %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{ _('Preis') }}: {{ offer.getprice() }}<br/>
    {{ _('Lieferant') }}: {{ offer.user.username }}
    {% if offer.stock %}<h6><span class="badge badge-primary badge-pill">x{{ offer.stock }}</span></h6>{% endif %}
  </li>
{% endfor %}
</ul>
