{% extends "base.html" %}
{% block title %}{{ _('Übersicht') }}{% endblock %}
{% from "macros.html" import pagination %}

{% block app_content %}
  <div class="row">
    <div class="col-6"><h1 style="line-height:2.5rem;">{{ _('Übersicht') }}</h1></div>
    <div class="col-6 text-right"><h3 style="line-height:2.5rem;">{{ _('Kontostand') }}: {{ summed }}</h3></div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr class="tableheader">
        <th scope="col">#</th>
        <th scope="col">{{ _('Produkt') }}</th>
        <th scope="col">{{ _('Preis') }}</th>
        <th scope="col">{{ _('Stück') }}</th>
        <th scope="col">{{ _('Lieferant') }}</th>
        <th scope="col">{{ _('Zeit') }}</th>
      </tr>
    </thead>
    <tbody>
    {% if consumptions.items is defined and consumptions.items|length > 0 %}
      {% for con in consumptions.items %}
        <tr>
          <th scope="row">{{ loop.index + ((consumptions.page-1)*consumptions.per_page) }}</th>
          <td>{{ con.product.description }}</td>
          <td>{{ con.getsum }}</td>
          <td>{{ con.amount }}</td>
          <td>{{ con.supplier.username }}</td>
          <td>{{ moment(con.time).fromNow() }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan="6">{{ _('Keine Einträge vorhanden') }}</td></tr>
    {% endif %}
    </tbody>
  </table>
{{ pagination('main.overview', consumptions) }}
{% endblock %}

{% block custom_script %}
  <script>
    $("#overview").addClass('active');
  </script>
{% endblock %}
