{% extends "base.html" %}

{% block app_content %}
  <h2>Release notes</h2><br>
  <h4>Version: 0.0.1</h4><br>
  <h5>15.12.2019</h5>
  <ul class="list-group">
    <li class="list-group-item">Die Bestandsanzeige ist endlich da!</li>
    <li class="list-group-item">Die Passwort stärke wird bei der Registrierung angezeigt.</li>
    <li class="list-group-item">Du kannst nun in den Einstellungen deine bevorzugte Sprache einstellen!</li>
    <li class="list-group-item">Der Benutzername kann nun geändert werden!</li>
    <li class="list-group-item">Du bekommst eine E-Mail benachrichtigung bei einer neuen Rechnung.</li>
  </ul><br>
  <h5>23.11.2019</h5>
  <ul class="list-group">
    <li class="list-group-item">Du kann nun nur noch deine eigenen Rechnungen anzeigen</li>
    <li class="list-group-item">Beim Anfragen einer nicht existenten Rechnung wird nun kein Fehler mehr angezeigt</li>
    <li class="list-group-item">Du wirst nach dem Login direkt auf die angefragte Seite weitergeleitet</li>
    <li class="list-group-item">Die Nummerierung der Tabelle im Administratoren Dashboard funktioniert nun richtig</li>
  </ul><br>
  <h5>17.11.2019</h5>
  <ul class="list-group">
    <li class="list-group-item">Die Anwendung unterstützt nun Übersetzungen (derzeit deutsch und englisch)</li>
  </ul><br>
  <h5>14.11.2019</h5>
  <ul class="list-group">
    <li class="list-group-item">Rechnungen werden nun in der Detailansicht als bezahlt markiert</li>
  </ul><br>
  <h5>13.11.2019</h5>
  <ul class="list-group">
    <li class="list-group-item">Es gibt nun die Möglichkeit Produkte zu highlighten</li>
    <li class="list-group-item">Wenn du dein Supersicheres Passwort vergessen hast, kannst es nun selbst zurücksetzen</li>
    <li class="list-group-item">Die Templates für Emails wurden verschönert</li>
    <li class="list-group-item">Der Schatten für die Getränkekarten wurde zurückgeholt</li>
    <li class="list-group-item">Neue Benachrichtigung beim Konsum von Produkten</li>
    <li class="list-group-item">Die Übersicht deines Verbrauch bietet dir nun eine bessere Seitenauswahl</li>
    <li class="list-group-item">Dein Kontostand in der Übersicht ist nun richtig</li>
    <li class="list-group-item">Die Nummerierung in Tabellen stimmt nun</li>
    <li class="list-group-item">Emails werden nun Asynchron verschickt</li>
    <li class="list-group-item">Der Logout ist nun in das Brandneue Benutzermenü umgezogen</li>
    <li class="list-group-item">Administratoren können nun anderen Benutzer zu Administratoren machen</li>
  </ul><br>
  <h5>12.11.2019</h5>
  <ul class="list-group">
    <li class="list-group-item">Login statt Cookie für Konsumenten</li>
    <li class="list-group-item">Badge für anzeige neuer Rechnungen</li>
    <li class="list-group-item">Registrierung für Neue Konsumenten</li>
    <li class="list-group-item">Benutzerverwaltung mit freigabe für neue Zugänge</li>
  </ul>
{% endblock %}

{% block custom_script %}
  <script>
  </script>
{% endblock %}
